.a{
	background-image: url(../../assets/images/A.png);
}
.b{
	background-image: url(../../assets/images/B.png);
}
.c{
	background-image: url(../../assets/images/C.png);
}
.d{
	background-image: url(../../assets/images/D.png);
}
.e{
	background-image: url(../../assets/images/E.png);
}
.f{
	background-image: url(../../assets/images/F.png);
}
.g{
	background-image: url(../../assets/images/G.png);
}
.h{
	background-image: url(../../assets/images/H.png);
}
.i{
	background-image: url(../../assets/images/I.png);
}
.j{
	background-image: url(../../assets/images/J.png);
}
.k{
	background-image: url(../../assets/images/K.png);
}
.l{
	background-image: url(../../assets/images/L.png);
}
.m{
	background-image: url(../../assets/images/M.png);
}
.n{
	background-image: url(../../assets/images/N.png);
}
.o{
	background-image: url(../../assets/images/O.png);
}
.p{
	background-image: url(../../assets/images/P.png);
}
.q{
	background-image: url(../../assets/images/Q.png);
}
.r{
	background-image: url(../../assets/images/R.png);
}
.s{
	background-image: url(../../assets/images/S.png);
}
.t{
	background-image: url(../../assets/images/T.png);
}
.u{
	background-image: url(../../assets/images/U.png);
}
.v{
	background-image: url(../../assets/images/V.png);
}
.w{
	background-image: url(../../assets/images/W.png);
}
.x{
	background-image: url(../../assets/images/X.png);
}
.y{
	background-image: url(../../assets/images/Y.png);
}
.z{
	background-image: url(../../assets/images/Z.png);
}