body{
	text-align: center;
	font-family: 'Chewy', cursive;
	font-size: 30px;
}

.game-board{
	/*background-image: url(../../assets/images/sativa.png);*/
	background-color: lightblue;
	height: 400px;
	margin-top: 250px;
}

.blank{
	background-image: url(../../assets/images/square.png);
}

.underLetter{
	background-image: url(../../assets/images/underLetter.png);
}

.letters{
	display: inline-block;
	width: 51px;
	height: 45px;
	background-color: lightblue;
	border: 1px solid black;
	margin:3px;
}

.hiden{
	visibility: hidden;
}

.centered{
	margin-left: 4%;
	margin-top: 15px;
}

.centered-letters{
		margin-left: 4%;
	margin-top: 30px;
}


.block{
	display: inline-block;
	width: 51px;
	height: 45px;
	background-size: cover;
	margin-left: -5px;
	padding: 4px;
}

.cat{
	background-image: url(../../assets/images/animals/cat.png);
	display: inline-block;
	width: 90px;
	height: 60px;
	background-size: cover;
}

.remain, .scoreField{
	margin-top: 65px;
	margin-left: 10px;
}

