body{
	text-align: center;
	font-family: 'Chewy', cursive;
	font-size: 30px;
}

.game-board{
	/*background-image: url(../../assets/images/sativa.png);*/
	background-color: lightblue;
	height: 400px;
	margin-top: 250px;
}

.blank{
	background-image: url(../../assets/images/square.png);
}

.underLetter{
	background-image: url(../../assets/images/underLetter.png);
}

.letters{
	display: inline-block;
	width: 51px;
	height: 45px;
	background-color: lightblue;
	border: 1px solid black;
	margin:3px;
}

.hiden{
	visibility: hidden;
}

.centered{
	margin-top: 15px;
}

.centered-letters{
	margin-top: 30px;
}

.row{
	margin-right: -10px;
    margin-left: -10px;
}


.block{
	display: inline-block;
	width: 46px;
	height: 40px;
	background-size: cover;
	border: 0px;
	margin-left: -5px;
	padding: 4px;
}

.scoreField{
	margin-top: 30px;
}

.container{
	background-image: url(../../assets/images/back.png);
	padding-bottom: 30px;
	padding: 40px;
	position: absolute;
	top:15%;
	left: 5%;
	right: 5%;
	/**********/
	-webkit-box-shadow: 14px 17px 27px 5px rgba(87,84,87,0.95);
	-moz-box-shadow: 14px 17px 27px 5px rgba(87,84,87,0.95);
	box-shadow: 14px 17px 27px 5px rgba(87,84,87,0.95);
	/*********/
	border-radius: 18px 18px 18px 18px;
	-moz-border-radius: 18px 18px 18px 18px;
	-webkit-border-radius: 18px 18px 18px 18px;
	border: 4px solid #706870;
}

#lost{
	color: red;
}

.no-display{
	display: none;
}

#info{
	padding-top: 50px;
	font-size: 23px;
	/*color: #a6d9f8;*/
}

#infoPanel{
	margin-bottom: 30px;
}

#photo{
	width: 200px;
	height: 200px;
	-webkit-box-shadow: 14px 17px 27px 5px rgba(87,84,87,0.95);
	-moz-box-shadow: 14px 17px 27px 5px rgba(87,84,87,0.95);
	box-shadow: 14px 17px 27px 5px rgba(87,84,87,0.95);
}

#gameBoard{
	padding: 15px;
	/**********/
	-webkit-box-shadow: 7px 10px 23px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 23px 1px rgba(0,0,0,0.75);
box-shadow: 7px 10px 23px 1px rgba(0,0,0,0.75);
	/********/
	border-radius: 21px 21px 21px 21px;
	-moz-border-radius: 21px 21px 21px 21px;
	-webkit-border-radius: 21px 21px 21px 21px;
	border: 4px solid #706870;
}

#scoreBoard{
	margin-left: 40px;
	padding-top: 60px;
	border: 2px solid;
    height: 218px;
	/*********/
    -webkit-box-shadow: 7px 10px 23px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 23px 1px rgba(0,0,0,0.75);
box-shadow: 7px 10px 23px 1px rgba(0,0,0,0.75);
	/********/
	border-radius: 21px 21px 21px 21px;
	-moz-border-radius: 21px 21px 21px 21px;
	-webkit-border-radius: 21px 21px 21px 21px;
	border: 4px solid #706870;
}

#answer{
	color: blue;
}

@media (max-width: 991px){
	#scoreBoard{
		margin-left: 0px;
		margin-top: 30px;
		height: auto;
		padding:10px;
	}

	#gameBoard{
		padding: 15px;
		/**********/
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		border: 2px solid #706870;
	}

	#scoreBoard{
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);	
		border: 2px solid #706870;
	}

	.container{
		top:15px;
		padding: 20px;

		-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	}

}


